<div class="large-container center-block">
    <h1>Title: <%= @article.title %></h1>
    <div>
        <p>Written by: <strong><%= @article.user.email %></strong></p>
    </div>
    <div>
        <%= @article.content %>
    </div>
    <div class="margin-top">
        <p class="label">Tags</p>
        <% @article.categories.each do |category| %>
            <span class="badge badge-pill padding" style="background-color:<%= category.color %>">
                <%= link_to category.title, category, class:"text-white" %>
            </span>
        <% end %>
    </div>
    <div>
        <% if current_user === @article.user  %>
            <%= link_to 'Edit', edit_article_path(@article) %>
            <%= link_to "Delete Article", @article, method: :delete %>
        <% end %>
    </div>
</div>